# Supabase source database
SUPABASE_DB_HOST=db.htjohidcoyfuwfjecazu.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=

# Aurora target database
AURORA_DB_HOST=
AURORA_DB_PORT=5432
AURORA_DB_NAME=optimat
AURORA_DB_USER=optimat_admin
AURORA_DB_PASSWORD=
